@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 229 10% 5%;
    --foreground: 229 3% 90%;
    --card: 229 3% 5%;
    --card-foreground: 229 3% 90%;
    --popover: 229 10% 5%;
    --popover-foreground: 229 3% 90%;
    --primary: 229 78.9% 57.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 191 10% 15%;
    --muted-foreground: 229 3% 60%;
    --accent: 191 10% 15%;
    --accent-foreground: 229 3% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 229 3% 90%;
    --border: 229 20% 18%;
    --input: 229 20% 18%;
    --ring: 229 78.9% 57.3%;
  }
} */

@layer base {
  :root {
    --background: 50 17% 95%;
    --foreground: 240 10% 3.9%;
    --card: 50 23% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 50 23% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 240 5.9% 90%;
    --muted: 240 5.9% 90%;
    --muted-foreground: 240 7% 33%;
    --neutral: 240 5.9% 90%;
    ---neutral-foreground: 240 3.7% 15.9%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply !bg-background text-foreground;
  }
}

.transition-opacityy {
  transition: opacity 0.3s ease-in-out;
}

.glassMorphism {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.09);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.boxShadowCust {
  box-shadow:
    11px 11px 39px #e0e0e0,
    -11px -11px 39px #ffffff;
}

.postShadow {
  box-shadow:
    2px 2px 10px #e0e0e0,
    -2px -2px 10px #ffffff;
}

.cl-internal-1gi467n {
  width: 100% !important;
  will-change: height !important;
  margin: 0px !important;
}

.cl-internal-2nd2j4 {
  width: 100% !important;
  will-change: height !important;
  margin: 0px !important;
}

/* css for profile page */
.cl-internal-phfxlr {
  width: 100% !important;
  will-change: height !important;
}
@media (max-width: 30em) {
  .cl-internal-2nd2j4 {
    max-width: calc(80vw);
    margin: 0px 0px 1.75rem;
  }
}

/* new signin css  removes logo */
.cl-internal-13iim0d {
  display: none;
}

/* new signin css */
.cl-internal-uy11u8 {
  width: 90% !important;
}

/* temp signin css */
.cl-internal-19xp6v9 {
  width: 100% !important;
  will-change: height !important;
  margin: 0px !important;
}

.cl-internal-17ydaof {
  /* max-width: 500px; */
  width: 100%;
  will-change: height !important;
  /* padding: 50px  !important; */
  margin: 0px 0px !important;
  margin-right: 0px !important;
}

.cl-internal-b3fm6y {
  display: none;
}

.transition-opacityy {
  transition: opacity 0.3s ease-in-out;
}
